body {

}

#title-header {
	background-color: #ccc;
	color: #666;
	font-size: 45px;
	padding: 20px;	
}

.menu {
	background-color: #323232;
	color: white;
	text-align: center;
	font-weight: bold;
}

.menu ul {
	list-style: none;
	margin: 0px;
}

.menu ul li {
	background-color: #323232;
	display: inline-block;
	padding: 30px;
	width: 24%;
}

.menu li:hover {
	cursor: pointer;
	background-color: #666;
}